<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laundly</title>
</head>
<body>
  <h3>I am a(n)...</h3>

  <div>
  <%= link_to 'Customer', new_user_session_path %>
  <br>
  <%= link_to 'Operator', new_user_session_path %>
  </div>
</body>
</html>